Source: python-pycronscript
Section: python
Priority: extra
Maintainer: Greg Harris <gharris@angrylogic.net>
Build-Depends: debhelper (>= 8.0.0), dh-python, python-all (>= 2.6.6-3~)
Standards-Version: 3.9.4
Homepage: https://github.com/jjneely/pycronscript
Vcs-Git: git@github.com:jjneely/pycronscript.git
Vcs-Browser: https://github.com/jjneely/pycronscript

Package: python-pycronscript
Architecture: all
Depends: python, python-lockfile
Description: Python wrapper to standardize cron script invocation and logging
 Python wrapper to standardize cron script invocation and logging
